<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/lib/jquery-3.4.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>